{% extends 'podcasts/base.html' %}
{% block title %}About{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}
	<div class='container'>
		<div id="about-box">
			<div class="well">
				<p>For over two years Jake and Josh have been making podcasts. Obsessively edited, extraordinarily punctual, hand-crafted podcasts for you to enjoy. Then we went and started making <a href='http://www.youtube.com/heyjakeandjosh'>videos</a> too. We put a lot of time and effort into these podcasts and videos and the relationships we've built through them. If you like what we do, please go to our <a href='http://www.patreon.com/heyjakeandjosh'> patreon </a> and help support us. 
			</div>
		</div>
	</div>
{% endblock content %}