{# HTML5 declaration #}
{% load static %}

<!DOCTYPE html>
<html  lang="en" acialabel="main site">
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home {% endblock title %} | Hey Jake & Josh</title>
        {% block head_favicon %}
            <link rel="icon" type="image/jpg"
                  href={% static "podcasts/imgs/banner.jpg" %}>
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
			
			{% block head_meta_robots %}
			{% endblock head_meta_robots %}
			
			{% block head_meta_keywords %}
				<meta name="keywords" content="Podcast,Entertainment,Jake and Josh,RPG,Actual Play,Power Rangers,Pokemon,Kingdom Hearts">
			{% endblock head_meta_keywords %}
			
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
			{% block head_meta_description %}
				<meta name="description" content="For over two years Jake and Josh have been making podcasts. Obsessively edited, extraordinarily punctual, hand-crafted podcasts for you to enjoy." />
			{% endblock head_meta_description %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
			{% block head_meta_colortheme %}
				<!-- Chrome, Firefox OS and Opera -->
				<meta name="theme-color" content="#FFF">
			{% endblock head_meta_colortheme %}
        {% endblock head_meta %}
		{% block head_manifest %}
			<link rel="manifest" href={% static "/podcasts/manifest.webmanifest">
		{% endblock head_manifest %}
        {% block head_css %}
            {% block head_css_site %}
                <!-- Latest compiled and minified CSS -->
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
				
				<link rel="stylesheet" href={% static "/podcasts/style.css" %}>

            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
    </head>
	<body style="height: 100%;">
		{# Navigation Menu #}
		<header>
			<div class="navbar navbar-default navbar-static-top 
			{% block nav-style %}{% endblock %}" >
				<div class="container p-none">
					<div class="navbar-header" bgcolor="#ff0000">
						<button type="button" class="navbar-toggle"
								data-toggle="collapse"
								data-target=".navbar-collapse" aria-label="Navigation Button">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/podcast/" style="padding: 0px;"><img src={% static "podcasts/imgs/banner.jpg" %} width=160px height=50px alt="Hey Jake and Josh"/></a>
					</div>
					
					<nav aria-label="Main Navigation">
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/podcast/" style="color: #000">All Shows</a></li>
								<li><a href="/podcast/cast/"  style="color: #000">Cast</a></li>
								<li><a href="/podcast/about/"  style="color: #000">About</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</header>
		{# The Document Body #}
		<main>
			<div id="site-wrapper" >
				{% block content %}
					if you see this, something is wrong!
				{% endblock content %}
			</div>
		</main>
		{# The Footer #}
		<div class="footer" style="border-top: 8px solid; background-color: #ffffff;">
			<div class="container">
				<p>Copyright Tripp Weiner 2018</p>
				<p>Contact Tripp at <a href="mailto:trippweiner@gmail.com?subject=Contact%20from%20Jake%20and%20Josh%20Website"  target="_top">trippweiner@gmail</a></p>
				<p>Contact Jake and Josh at <a href="mailto:heyjakeandjosh@gmail.com?subject=From%20Website"  target="_top"> heyjakeandjosh@gmail.com </a></p>
			</div>
		</div>
	</body>
    {# Set of blocks that can be used to display JavaScript files #}
    {% block footer_javascript %}
        {% block footer_javascript_site %}

			<!-- jQuery library -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<!-- bootstrap -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% endblock footer_javascript_site %}
        {% block footer_javascript_section %}{% endblock footer_javascript_section %}
        {% block footer_javascript_page %}{% endblock footer_javascript_page %}
    {% endblock footer_javascript %}
</html>